*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter";
  font-optical-sizing: auto;
}

/* share style */

.bg-color1{
    background: #1A0B2E;
}

.small-text{
    color: rgba(250, 250, 250, 0.6);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;

}

.big-text{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
}

.gradient{
    background:linear-gradient(15deg,#F7E93F 16%,#FB09B4 40%, #9100F8 85%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn1{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    background:linear-gradient(40deg,#F7E93F 17%,#FB09B4 50%, #9100F8 82%);
    border: none;
    border-radius: 41px;
    padding: 12px 16px;

}
.btn2{
    color: #00FF88;
    font-weight: 600;
    font-size: 1rem;
    background: none;
    border: 1px solid #00FF88;
    border-radius: 41px;
    padding: 12px 16px;

}


/* Navbar style */

.logo{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 2rem;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 8% ;
    border-bottom: 1px solid #351165;

}

.navbar ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.navbar a{
    font-weight: 500;

    text-decoration: none;
}

.menu-icon {
    display: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}



.hero-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 200px 200px auto;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(25, 15, 59);
  
    align-items: center;
    justify-content: center;
    
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    background-position: center;

    
  
}




.banner-contain{
    grid-row: 3;
    text-align: center;  
    padding: 40px;
}
.banner-contain p{

    margin-bottom: 24px;
    margin-top: 10px;
}


.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}




.circle-center{
    position: relative;
    grid-row: 2;
    place-items: center;
    justify-self: center;
   
    display: grid;
    width: 23%;
    margin-top: -50px;
 
}
.badge{
    position: absolute;
    background: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 1.125rem;
    border-radius: 20px;
    top: 12px;
    right: 23px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);


}

.circle{
    grid-area: 1/1;
    width: 100%;
    height: auto;
}
.mic{
    grid-area: 1/1;
    width: 30%;
    height: auto;
}

.about-container{
    background: #1A0B2E;
    text-align: center;
    padding: 50px 30px 120px 30px;
    display: flex;
    align-items: center;
   
    flex-direction: column;
}
.about-container hr{
    width: 90%;
    margin:  30px auto;
    border: none;
    background: #FFFFFF;
    opacity: 10%;
    height: 1px;
   

}

.about-pera{
    max-width: 750px;
    width: 100%;
    
    text-align: center;
    padding: 20px 0;
}

/* rating-container */

.rating-container{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
   
}
.rating-container h1{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
     margin-top: 20px;
}

/* Why Choose TechWave container */

.why-choose-container{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    margin-bottom: 20px;

}

.why-container{
    background: #230E3D;
    padding: clamp(50px, 8vh, 120px) clamp(20px, 12vw, 200px);
    width: 100%;
    max-height: 1121px; 
}

.card-h1text{
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

.card-ptext{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    opacity: 80%;
    font-size: 1rem;
    line-height: 24px;

}

.card-h3text{
    color: #FFFFFF;
    font-weight: 700;
    opacity: 80%;
    font-size: 1.5rem;
    margin-top: 16px;
    margin-bottom: 16px;

}
 .card{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    border: none;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
 }

.premium-audio{
    grid-row: span 2;

}
.mobile-friendly{
    grid-column: span 2 ;
}
.global-community{
    grid-column: span 2 ;

}
.exclusive-interviews{
    grid-column: span 2 ;
}
/* episode-container */
.episode-container{
    background-color: #1A0B2E;
    padding: clamp(50px, 8vh, 120px) clamp(20px, 12vw, 200px);
    
}
.video-card{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
}
.vcard iframe{
    border-radius: 40px 40px 0 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none;
    display: block;

}

.video-contain{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 0 0 40px 40px;
    border: none;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}
.video-h3text{
    color: #FFFFFF;
    font-weight: 700;
    opacity: 80%;
    font-size: 1.5rem;
   
    margin-bottom: 16px;

}
.clockp{
    color: #00FF88;
    margin-top: 12px;
    gap: 6px;
}

.featured-margin{
    margin-bottom: 40px;
}

.Meet-section{
    margin: 120px 0 90px 0;
}

.meet-icon{
    gap: 8px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    
}


.meet-card{
    display: flex;
   background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    border: none;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    
}
.meet-icon img{
    width: 20px;
    height: 20px;
}
.circle-icon{
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
 

}
/* footer-container */
.footer-container{
    background: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 412px;
     align-items: center;
    justify-content: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A0B2E;
   
    
}

.footer-content{
    text-align: center;
    flex-direction: column;
    padding-bottom: 32px;
   
  
    
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.icons{
    gap: 40px;
    margin-bottom: 32px;
}
.ic-text{
    
    gap: 8px;
    
}
.logo2{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 5rem;
    line-height: auto;
    margin-bottom: 32px;
   
}




@media  screen and (max-width:576px) {



    /* footer */
    .footer-container{
        width: 100%;
        min-height: 248px;
        background-size:cover ;
        background-position: center;
       


    }

    .footer-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
    }
    .logo2{
        font-size: 3rem;
        margin-bottom: 24px;
        text-align: center;

    }
 
    .icons{
        display: flex;
        flex-wrap: wrap;
        max-width: 320px;
        justify-content: center;
        margin: 0 auto;
        gap: 16px ;
        margin-bottom: 24px;
    }
 

    /* ep */
    .episode-container{
        padding: 30px;
    }

    .video-card{
       display: grid;
       grid-template-columns: repeat(1,1fr);


    }

    .video-contain{
    
    border-radius: 0 0 24px 24px;
    }

    .meet-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        border-radius: 24px;
    }
    .meet-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        

    }

    .vcard iframe{
    border-radius: 24px 24px 0 0;
    }
    /* why-choose-container */
    .why-choose-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .why-container{
        padding: 30px;
        max-height: none;
        

    }
    .card{
    border-radius: 24px;
    padding: 24px;
    }

    .card-h1text{
        font-size: 2rem;
    }

    /* about-container */


    .rating-container h1{
        font-size: 2.85rem;
        margin-top: 10px;
    
    }
    .rating-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }

    .about-container{
        padding: 30px;
       
    }
    .big-text{
        font-size: 2rem;
    }

    .premium-audio,
    .mobile-friendly,
    .global-community,
    .exclusive-interviews,
    .rich-resources{
        grid-column: span 1;
        grid-row: span 1;
    }

    /* navabar */
    .navbar ul{
        display: none;
    }
    .btn1 {
        display: none;
    }
    .menu-icon {
        display: block;
    }
      
    .hero-container{
        background-size: cover;
        width: 100%;
        background-position: center;
        min-height: 20vh;
        background-color: rgb(25, 15, 59);
        
        
    }

    .circle-center{

    margin-top: -150px;
    width: 50%;
    margin-bottom: 10px;
 
}
.badge{
    padding: 8px 12px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 20px;
    top: 10px;
    right: 10px;
}
.banner-contain{  
    padding: 20px;
    margin-bottom: 20px;
    margin-top: -30px;


}
.m-text{
    font-size: 2.5rem;
}
}